html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F3E6;
    font-family: "Maven Pro", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding-top: 1px;
    margin-top: -1px;
    background-color: #F8F3E6;
    height: 25rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 50px;
    margin: 20px;
    height: 70px;
    margin-top: 40px;
}

.nav {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-left: 16rem;
}

.nav a {
    text-decoration: none;
    color: #2F3E3C;
}

.nav a:hover {
    color: #1ebeb6;
}

.logo {
    justify-content: flex-start;
    display: flex;
    width: 80px;
    height: 80px;
    margin-left: 10rem;
}

.butoni {
    width: 160px;
    height: 40px;
    border-radius: 20px;
    background-color: #C7E7EC;
    border: 1px solid #C7E7EC;
    margin-left: 15rem;
}

.tekstnavbar h2 {
    text-align: center;
    color: #1ebeb6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 40px;
    margin-top: 6rem;
}

.fotot img {
    width: auto;
    height: 250px;
    margin: 3rem;
    justify-content: space-between;
    border-radius: 10px;
}

.aboutustxt {
    padding-bottom: 6rem;
}

.aboutustxt h2 {
    margin-top: 18rem;
    width: 60rem;
    margin-left: 10rem;
    color: #2F3E3C;
    letter-spacing: 1px;
}

.aboutustxt p {
    margin-top: 3rem;
    width: 30rem;
    margin-left: 10rem;
    color: #2F3E3C;
    letter-spacing: 1px;
    font-size: 15px;
}

.aboutusparagraphs {
    display: flex;
}

.staff-container {
    display: flex;
    justify-content: space-around;
    background-color: #F8F3E6;
    padding: 6rem;
}

.staff-img {
    border: 1px solid #1ebeb6;
    border-radius: 3rem;
    background-color: #1ebeb6;
    overflow: hidden;
    position: relative;
    display: inline-block;
}

.staff-img img {
    width: auto;
    height: 400px;
    display: block;
    transition: transform 0.4s ease;
}

.staff-img:hover img {
    transform: scale(1.05);
}

.staff-name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.6);
    color: #C7E7EC;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    backdrop-filter: blur(3px);
}

.staff-description h2 {
    width: 30rem;
    color: #1ebeb6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 30px;
}

.staff-description p {
    margin-top: 3rem;
    width: 30rem;
    color: #2F3E3C;
    letter-spacing: 1px;
    font-size: 15px;
}

.footer {
    background-color: #F8F3E6;
    padding: 40px;
    font-family: Arial, sans-serif;
    color: #2F3E3C;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background-color: #C7E7EC;
    border-radius: 30px;
    padding: 50px;
}

.circle {
    width: 40px;
    height: 40px;
    background: #1ebeb6;
    border-radius: 50%;
    margin-bottom: 10px;
}

.social {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.social img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

hr {
    border: none;
    border-top: 1px solid #1ebeb6;
    margin: 30px 0;
}

.footer-bottom {
    text-align: center;
    color: #2F3E3C;
}

.newsletter {
    margin-right: 20rem;
}

.newsletter h2 {
    letter-spacing: 1px;
    font-size: 30px;
    color: #2F3E3C;
    font-weight: 20px;
}

.newsletter p {
    font-size: 12px;
    color: #2F3E3C;
    font-weight: 10px;
    margin-bottom: 4px;
    margin-left: 12px;
}

.subscribe {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #1ebeb6;
    border: 1px solid #1ebeb6;
}

.subscribe a {
    color: #F8F3E6;
    text-decoration: none;
}

.subscribe a :hover {
    color: #2F3E3C;
}

.inputsubscribe {
    margin-right: 5px;
    padding: 5px;
    padding-left: 20px;
    border-radius: 30px;
    width: 230px;
    height: 30px;
    border: 1px solid #F8F3E6;
}

.inputarea {
    gap: 10px;
}


.to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #1ebeb6;
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.to-top.show {
    opacity: 1;
    pointer-events: auto;
}

.to-top-icon {
    width: 22px;
    height: 22px;
    filter: invert(100%);
    pointer-events: none;
}


.animate {
    opacity: 0;
    transform: translateY(20px);
    transition: all .7s ease-out;
}

.animate.show {
    opacity: 1;
    transform: translateY(0);
}

.scroll-up {
    transform: translateY(30px);
}

.scroll-left {
    transform: translateX(-40px);
}

.scroll-right {
    transform: translateX(40px);
}

.scroll-fade {
    transform: scale(0.95);
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
    z-index: 1100;
}

.hamburger span {
    height: 3px;
    width: 100%;
    background: #2F3E3C;
    border-radius: 3px;
    transition: all 0.3s ease;
}

.hamburger.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 1200px) {
    .logo {
        margin-left: 20px;
    }

    .nav {
        margin-left: 40px;
        gap: 20px;
    }

    .butoni {
        margin-left: auto;
        margin-right: 20px;
    }

    .aboutusparagraphs {
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }

    .fotot {
        text-align: center;
        width: 100%;
        padding: 0;
        order: 1;
    }

    .fotot img {
        height: 180px;
        width: 40%;
        max-width: 300px;
        margin: 10px;
    }

    .aboutustxt {
        margin: 0;
        padding-top: 2rem;
        padding-bottom: 4rem;
        text-align: center;
        order: 2;
    }

    .aboutustxt h2 {
        margin: 0 auto;
        width: 90%;
        max-width: 700px;
        font-size: 30px;
        margin-top: 4rem;
    }

    .aboutustxt p {
        margin: 2rem auto 0 auto;
        width: 90%;
        max-width: 600px;
    }

    .staff-container {
        flex-direction: column;
        align-items: center;
        padding: 4rem 20px;
    }

    .staff-img {
        margin-bottom: 40px;
        max-width: 350px;
    }

    .staff-img img {
        height: 350px;
    }

    .staff-description h2,
    .staff-description p {
        width: 90%;
        max-width: 600px;
        margin: 1rem auto;
        text-align: center;
    }

    .newsletter {
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 0 10px;
        margin: 10px;
        height: 60px;
        border-radius: 40px;
        margin-top: 30px;
    }

    .logo {
        width: 60px;
        height: 60px;
        margin-left: 20px;
    }

    .hamburger {
        display: flex;
        margin-left: auto;
        margin-right: 20px;
    }

    .nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 10px;
        right: 10px;
        background-color: #C7E7EC;
        border-radius: 30px;
        padding: 20px 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        z-index: 50;
        transform: translateY(-10px);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
        margin: 20px;
        width: 200px;
        text-align: center;
        gap: 0;
        margin-left: 150px;
    }

    .nav.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
    }

    .nav li {
        width: 100%;
        padding: 7px 0;
        border-bottom: 1px solid rgba(47, 62, 60, 0.1);
        list-style: none;
    }

    .nav li:last-child {
        border-bottom: none;
    }

    .nav a {
        padding: 10px 0;
        display: block;
        width: 100%;
        color: #2F3E3C;
    }

    .butoni {
        margin: 15px auto;
        width: 80%;
        max-width: 200px;
        background-color: #F8F3E6;
        width: 170px;
        height: 50px;
        text-align: center;
        border: 1px solid #F8F3E6;
    }

    .butoni a {
        color: #1ebeb6;
        font-weight: bold;
    }

    .tekstnavbar h2 {
        font-size: 30px;
        margin-top: 4rem;
        margin-left: 20px;
    }

    .aboutustxt h2 {
        font-size: 24px;
        margin-top: 2rem;
    }

    .fotot img {
        height: auto;
        width: 90%;
        max-width: 350px;
        margin: 10px auto;
        display: block;
    }

    .staff-container {
        padding: 2rem 10px;
    }

    .staff-img {
        width: 250px;
        height: auto;
    }

    .staff-img img {
        height: 300px;
    }

    .staff-description h2 {
        font-size: 24px;
        margin-top: 0;
    }

    .staff-description p {
        margin-top: 1.5rem;
        font-size: 14px;
    }

    .footer {
        padding: 20px 10px;
        margin-left: 10px;
    }

    .footer-top {
        flex-direction: column;
        padding: 30px 20px;
        gap: 30px;
    }

    .newsletter {
        margin-right: 0;
        order: -1;
    }

    .inputarea {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .inputsubscribe {
        width: 90%;
        max-width: 280px;
        margin-right: 0;
    }

    .subscribe {
        width: 100px;
        height: 40px;
        border-radius: 20px;
        background-color: #1ebeb6;
        border: 1px solid #1ebeb6;
        margin-top: 20px;
    }

    .photo {
        padding: 80px 0;
    }
}