html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #C7E7EC;
    font-family: "Maven Pro", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding-top: 1px;
    margin-top: -1px;
    background-color: #F8F3E6;
    height: 25rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 50px;
    margin: 20px;
    height: 70px;
    margin-top: 40px;
}

.nav {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-left: 16rem;
}

.nav a {
    text-decoration: none;
    color: #2F3E3C;
}

.nav a:hover {
    color: #1ebeb6;
}

.logo {
    justify-content: flex-start;
    display: flex;
    width: 80px;
    height: 80px;
    margin-left: 10rem;
}

.butoni {
    width: 160px;
    height: 40px;
    border-radius: 20px;
    background-color: #C7E7EC;
    border: 1px solid #C7E7EC;
    margin-left: 15rem;
}

.tekstnavbar {
    text-align: center;
    color: #1ebeb6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 30px;
    margin-top: 6rem;
    padding-bottom: 20px;
}
.contact-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.contact-form {
    background: #fff;
    padding: 30px;
    width: 80%;
    max-width: 800px;
    border-radius: 12px;
    box-shadow: 0px 5px 25px rgba(0,0,0,0.08);
}

.contact-form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-form input {
    flex: 1 1 45%;
    padding: 15px;
    font-size: 17px;
    border-radius: 10px;
    border: 2px solid #d0d7e2;
    outline: none;
}

.contact-form input[placeholder="Message"] {
    flex: 1 1 100%;
    padding: 20px;
    height: 80px;
}

.submit-btn {
    display: block;
    margin: 25px auto 0 auto;
    width: 180px;
    padding: 14px;
    background-color: #1ebeb6;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.find-us {
    text-align: center;
    padding: 40px 20px;
}

.find-us h2 {
    color: #1ebeb6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 32px;
    margin-bottom: 30px;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.box {
    background: #e8f4ff;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.05);
}

.box h3 {
    margin-bottom: 8px;
    color: #0c4a8a;
}

.map {
    width: 100%;
    max-width: 1100px;
    height: 450px;
    margin: 20px auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.map iframe {
    width: 100%;
    height: 100%;
}


.footer {
    background-color: #F8F3E6;
    padding: 40px;
    font-family: Arial, sans-serif;
    color: #2F3E3C;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background-color: #C7E7EC;
    border-radius: 30px;
    padding: 50px;
}

.circle {
    width: 40px;
    height: 40px;
    background: #1ebeb6;
    border-radius: 50%;
    margin-bottom: 10px;
}

.social {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.social img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

hr {
    border: none;
    border-top: 1px solid #1ebeb6;
    margin: 30px 0;
}

.footer-bottom {
    text-align: center;
    color: #2F3E3C;
}

.newsletter {
    margin-right: 20rem;
}

.newsletter h2 {
    letter-spacing: 1px;
    font-size: 30px;
    color: #2F3E3C;
    font-weight: 20px;
}

.newsletter p {
    font-size: 12px;
    color: #2F3E3C;
    font-weight: 10px;
    margin-bottom: 4px;
    margin-left: 12px;
}

.subscribe {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #1ebeb6;
    border: 1px solid #1ebeb6;
}

.subscribe a {
    color: #F8F3E6;
    text-decoration: none;
}

.subscribe a :hover{
    color: #2F3E3C;
}

.inputsubscribe {
    margin-right: 5px;
    padding: 5px;
    padding-left: 20px;
    border-radius: 30px;
    width: 230px;
    height: 30px;
    border: 1px solid #F8F3E6;
}

.inputarea{
    gap: 10px;
}
