.footer {
    background-color: #F8F3E6;
    padding: 40px;
    font-family: Arial, sans-serif;
    color: #2F3E3C;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background-color: #C7E7EC;
    border-radius: 30px;
    padding: 50px;
}

.circle {
    width: 40px;
    height: 40px;
    background: #1ebeb6;
    border-radius: 50%;
    margin-bottom: 10px;
}

.social {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.social img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

hr {
    border: none;
    border-top: 1px solid #1ebeb6;
    margin: 30px 0;
}

.footer-bottom {
    text-align: center;
    color: #2F3E3C;
}

.newsletter {
    margin-right: 20rem;
}

.newsletter h2 {
    letter-spacing: 1px;
    font-size: 30px;
    color: #2F3E3C;
    font-weight: 20px;
}

.newsletter p {
    font-size: 12px;
    color: #2F3E3C;
    font-weight: 10px;
    margin-bottom: 4px;
    margin-left: 12px;
}

.subscribe {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #1ebeb6;
    border: 1px solid #1ebeb6;
}

.subscribe a {
    color: #F8F3E6;
    text-decoration: none;
}

.subscribe a :hover {
    color: #2F3E3C;
}

.inputsubscribe {
    margin-right: 5px;
    padding: 5px;
    padding-left: 20px;
    border-radius: 30px;
    width: 230px;
    height: 30px;
    border: 1px solid #F8F3E6;
}

.inputarea {
    gap: 10px;
}