html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8F3E6;
    font-family: "Maven Pro", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.container {
    background-color: #E8F0F1;
    width: 100%;
    padding-top: 1px;
    margin-top: -1px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #C7E7EC;
    border-radius: 50px;
    margin: 20px;
    height: 70px;
}

.nav {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-left: 40px;
}

.nav a {
    text-decoration: none;
    color: #2F3E3C;
}

.nav a:hover {
    color: #1ebeb6;
}

.logo {
    justify-content: flex-start;
    display: flex;
    width: 80px;
    height: 80px;
    margin-left: 60px;
}

.butoni {
    margin-left: 700px;
    width: 170px;
    height: 40px;
    border-radius: 20px;
    background-color: #FBF9F1;
    border: 1px solid #FBF9F1;
    text-align: center;
}

.fotobackground {
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 0 60px;
}

.fotobgg {
    width: 500px;
    height: 400px;

}

.tekst-te-foto {
    color: #2F3E3C;
    font-size: 15px;
    padding: 20px;
    margin-right: 20px;
    width: 600px;
}

.carosuel-container {
    padding: 2rem;
    display: flex;
    justify-content: flex-end;
    background-color: #F8F3E6;
}

.carosuel-wrapper {
    position: relative;
    max-width: 30rem;
    width: 100%;
    margin-right: 5rem;
    margin-left: 5rem;
}

.carosuel {
    display: flex;
    aspect-ratio: 4 / 3;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5rem;
    scrollbar-width: none;
}

.carosuel::-webkit-scrollbar {
    display: none;
}

.carosuel img {
    scroll-snap-align: start;
    object-fit: cover;
}


.carosuel-navigation {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.carosuel-navigation a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #ffffffeb;
    opacity: 0.75;
}

.carosuel-navigation a:hover {
    opacity: 1;
}

.carosuel-text {
    color: #2F3E3C;
    font-size: 15px;
    padding: 20px;
    width: 700px;
}

.carosuel-text h2 {
    color: #1ebeb6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 30px;
}

.carosuel-text button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #1ebeb6;
    border: 1px solid #1ebeb6;
    margin-left: 33rem;
}

.services {
    padding: 40px;
    background-color: #E8F0F1;
}

.services h2 {
    text-align: center;
    color: #1ebeb6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 30px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    margin: 50px auto;
    max-width: 800px;
}

.box {
    width: 200px;
    background: #eaf4ff;
    padding: 12px;
    border-radius: 10px;
    transition: 0.3s;
    box-shadow: 0 0 6px #9cc9ff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box img {
    width: 100%;
    border-radius: 10px;
    height: 135px;
}

.box:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.2);
}

.box h3 {
    font-size: 16px;
    margin: 8px 0;
    color: #2F3E3C;
}

.box p {
    font-size: 13px;
    color: #2F3E3C;
}

.price {
    margin-top: 20px;
    text-align: center;
    padding-right: 20px;
    margin-bottom: 20px;
}

.price button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #1ebeb6;
    border: 1px solid #1ebeb6;
}

.price a {
    text-decoration: none;
    color: #E8F0F1;
}

.tekstbuton :hover {
    color: #2F3E3C;
}

.testimonials {
    padding: 20px;
    height: 27rem;
    margin-top: 60px;
}

.testimonials h2 {
    text-align: center;
    color: #1ebeb6;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-size: 30px;
}

.testimonials p {
    font-size: 13px;
    color: #E8F0F1;
    font-weight: 30px;
    width: 270px;
}

.testimonials-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.testimonialbox {
    width: 300px;
    background: #1ebeb6;
    padding: 40px 20px 20px; 
    margin-top: 4rem;
    border-radius: 50px 0 50px 0;
    position: relative; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonialbox:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

.profile-img img {
    width: 80px;
    height: 80px;
    border-radius: 30px 0 30px 0;
    position: absolute;
    top: -40px;
    left: 20px;
    border: 4px solid white; 
    transition: transform 0.3s ease;
}

.testimonialbox:hover .profile-img img {
    transform: translateY(-5px);
}

.testimonialbox h3 {
    margin-top: 50px; 
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
    font-family: Arial, sans-serif;
}

.testimonialbox p {
    color: #E8F0F1;
    font-size: 13px;
    margin-top: 10px;
    width: 100%;
}

.photo {
    position: relative;
    width: 100%;
    padding: 150px 0;
    background: linear-gradient(rgba(200, 202, 201, .7), rgba(247, 202, 201, .7)), url(images/wowphoto-removebg-preview.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
}  

.footer {
    background-color: #F8F3E6;
    padding: 40px;
    font-family: Arial, sans-serif;
    color: #2F3E3C;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    background-color: #C7E7EC;
    border-radius: 30px;
    padding: 50px;
}

.circle {
    width: 40px;
    height: 40px;
    background: #1ebeb6;
    border-radius: 50%;
    margin-bottom: 10px;
}

.social {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.social img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

hr {
    border: none;
    border-top: 1px solid #1ebeb6;
    margin: 30px 0;
}

.footer-bottom {
    text-align: center;
    color: #2F3E3C;
}

.newsletter {
    margin-right: 20rem;
}

.newsletter h2 {
    letter-spacing: 1px;
    font-size: 30px;
    color: #2F3E3C;
    font-weight: 20px;
}

.newsletter p {
    font-size: 12px;
    color: #2F3E3C;
    font-weight: 10px;
    margin-bottom: 4px;
    margin-left: 12px;
}

.subscribe {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #1ebeb6;
    border: 1px solid #1ebeb6;
}

.subscribe a {
    color: #F8F3E6;
    text-decoration: none;
}

.subscribe a :hover {
    color: #2F3E3C;
}

.inputsubscribe {
    margin-right: 5px;
    padding: 5px;
    padding-left: 20px;
    border-radius: 30px;
    width: 230px;
    height: 30px;
    border: 1px solid #F8F3E6;
}

.inputarea {
    gap: 10px;
}


